* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-row{
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 2rem;
}
.form--input{   
    font-size: 1.3rem;
    height: 50px;
    width: 500px;
}

.form--button{
    font-size: 1.5rem;
    width: 500px;
    height: 50px;
    align-self: center;
}